TOKEN=your_token
ADMIN_ID=your_id
PAYMENT_TOKEN=your_token_pay

# Настройки базы
DB_HOST=db
DB_PORT=5432
DB_NAME=db_name
DB_USER=User_name_db
DB_PASS=Db_password_here

# Django
SECRET_KEY=text_a_secret_key
DEBUG=True