body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: var(--tg-theme-bg-color, #ffffff);
    color: var(--tg-theme-text-color, #000000);
}

.master-btn, .action-btn, .time-btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--tg-theme-button-color, #3390ec);
    color: var(--tg-theme-button-text-color, #ffffff);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.back-btn {
    background-color: #8e8e93;
}

.time-btn:disabled {
    background-color: #e5e5ea;
    color: #8e8e93;
    cursor: not-allowed;
    box-shadow: none;
}

input[type="date"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    box-sizing: border-box;
}
#step-4 input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f9f9f9;
    box-sizing: border-box; /* Чтобы padding не вылезал за края */
    transition: all 0.3s ease;
}

/* Красивое подсвечивание поля, когда клиент вводит текст */
#step-4 input:focus {
    border-color: #2481cc; /* Цвет в стиле Telegram */
    background-color: #ffffff;
    outline: none;
    box-shadow: 0 0 5px rgba(36, 129, 204, 0.3);
}